
[Unit]
Description= Lesgofile daemon service
Wants=network.service
After=network.service
After=network.target

[Service]
ExecStart=/usr/bin/lesgofile serve
User=lesgofile
Restart=always

[Install]
WantedBy=multi-user.target
